.container{
    display: flex;
    flex-direction: column;
    width: 227px;
    margin: 0 auto;
}
.inputContainer{
    display: flex;
    flex-direction: row;
}
.opciones{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-content: flex-start;
}
.container{
    font-size: 18px; 
    font-weight: 400; 
    color: black;
    background: rgb(244, 230, 243);
    margin-right: 10px;
    border-radius: 3px;
}
h1{
    text-align: center;
}

p{
    text-align: center;
}


